<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>Meal Planner</title>
</head>

<body>

    <header>
        <h2 style="border:double; background-color: #FFFA69">
        <img src="/assets/veggies.png" alt="Image of veggies" width="150px" haight="60px" align="middle">
        Meal Planner
        </h2>
    </header>

    <nav>
        <h3 align="center"> <a href="<%= root_path %>"> Return to Homepage </a></h3>
    </nav>

    <main align="center">
        <h2> About this page </h2>
        <p>I made this page to help super busy people like myself eat healthy. 
            My goal is to make it easy to have healthy options for every meal. 
        </p>
        <p>
            In this page you will find weekly menus organized by diet type, season and time of day.
        </p>

        <table border= "2" cellpadding="10" align="center">
            <tr bgcolor="#FFFA69">
            <th> Diet Type </th>
            <th> Season </th>
            <th> Time of day </th>
            </tr>

            <tr>
            <td>Vegan</td>
            <td>Spring</td>
            <td>Breakfast</td>
            </tr>

            <tr>
            <td>Vegeterian</td>
            <td>Summer</td>
            <td>Lunch</td>
            </tr>

            <tr>
            <td>Paleo</td>
            <td>Fall</td>
            <td>Dinner</td>
            </tr>

            <tr>
            <td>Obnivore</td>
            <td>Winter</td>
            <td>Snacks</td>
            </tr>

        </table>

    </main>
    </br>
    </br>
    </br>
    </br>
    </br>
    <footer align="center"> <p><small> For help call 800-MEALHELP </small> </p></footer>
</body>
</html>


